@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 234, 193);

}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.container {
    width: 1200px;

}

.left-said {
    width: 20%;
    height: 100%;
    border-right: 1px solid rgb(148, 148, 148);
    position: relative;
    right: 40px;
    
}

.ins-logo {
    width: 160px;
    height: 90px;
    padding: 20px;

}

.option {
    margin-top: 50px;
}
.option div i{
    font-size: 23px;
}

.option div {
    margin: 20px;
}

.option span,
.more {
    font-weight: 400;
    margin-left: 8px;
}
.more div i{
    font-size: 22px;
}
.more div span{
    position: relative;
    left: 12px;
}

.more {
    padding: 20px;
    margin-top: 80px;
}
.my-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;

}
.img-profile{
    position: relative;
    right: 5px;
    
}
.img-profile span{
    position: relative;
    bottom:10px;
    font-weight: 600;
}
.right-said {
    width: 80%;
    
    /* background-color: aqua; */
}

.profile-photo img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.highlight-box {
    /* margin-top: 15px; */
    margin-bottom: 9px;
}

.highlight {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid rgb(148, 148, 148);
    padding: 2px;
}

.highlight-box div p {
    font-size: 12px;
    margin-left: 5px;
}

.post div img {
    width: 317px;
    height: 340px;
    margin-top: 6px;
    border-radius: 10px;
}

.posts-box span {
    border-top: 2px solid gray;


}

.saved {
    color: rgb(124, 124, 124);
}

.posts {
    margin: 3px;
    font-size: 13px;
    font-weight: 600;

}

.posts div {
    margin-left: 50px;
}

.hr {
    height: 1px;
    background-color: gray;
}

/* profil */
.profile-photo {
    padding: 20px 55px;
}

.bio-data {
    margin-left: 70px;
    margin-top: 15px;
}

.bio span {
    font-weight: 600;
    margin-right: 4px;

}

.bio button {
    border: none;
    border-radius: 7px;
    width: 100px;
    background-color: rgb(184, 181, 181);
    height: 20px;
}

.setting {
    margin-left: 10px;
    font-size: 18px;
}

.follow{
    margin-top: 12px;
    margin-bottom: 12px;

}
.follow span{
    padding-right:15px ;
    font-size: 13px;
}
.follow span b{
    font-size: 16px;
} 
.om{
    font-weight: 600;
}
.web{
    color:gray;
}
